*, *::before, *::after {
    box-sizing: border-box;
    font-family: myFont;
    color: rgb(255, 255, 255);
}

@font-face {
    font-family: myFont;
    src: url(VCR_OSD_MONO_1.001.ttf);
}

body{
    background: #141414;

    padding: 0;
    margin: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}